.card {
  position: relative;
  max-width: 413px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #333;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__footer,
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url("../images/like-icon-dark.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_like {
  background-image: url("../images/like-icon-heart.svg");
  opacity: 1;
}

.card__like-btn_like:hover {
  background-image: url("../images/like-icon-liked-hover.svg");
}

.card__delete-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  background-image: url("../images/delete-icon-btn.svg");
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.card__delete-btn:hover {
  background-image: url("../images/delete-icon-btn-hover.svg");
  opacity: 1;
}

.card__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  color: rgba(33, 33, 33, 1);
}

@media screen and (max-width: 627px) {
  .card {
    width: 100%;
    min-height: 318px;
  }

  .card__image {
    height: 288px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }

  .card__title {
    max-width: 100%;
    font-size: 16px;
  }
}
