.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal__content {
  background: #fff;
  padding: 33px 50px 46px;
  max-width: 730px;
  position: relative;
  z-index: 1002;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.modal__content_type_preview {
  padding: 0;
}

.modal__image {
  width: 100%;
  display: block;
  margin: auto;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  box-sizing: border-box;
  border: none;
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 30px;
  right: 50px;
  width: 40px;
  height: 40px;
  gap: 0px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-size: contain;
  background-color: inherit;
  opacity: 0.4;
}

.modal__close-btn_type_preview {
  width: 40px;
  height: 40px;
  top: 0;
  right: -52.5px;
  background-color: inherit;
  background-image: url("../images/CloseIcon.svg");
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__content_type_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  background: transparent;
  max-width: unset;
  width: unset;
}

.modal__caption {
  max-width: 214px;
  background: #212121;
  align-self: flex-start;
  color: #ffffff;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 8px 0 0;
  top: calc(100% + 10px);
}

.modal__title {
  margin: 0 0 32px;
  width: 169px;
  gap: 0px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 33, 33, 1);
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  letter-spacing: 0%;
  color: hsla(0, 0%, 13%, 0.7);
}

.modal__input {
  padding: 16px 12px;
  height: 18px;
  border-radius: 8px;
  border: 1px solid hsla(0, 0%, 13%, 0.4);
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  color: hsla(0, 0%, 13%, 0.3);
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  max-width: 100%;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: hsla(0, 100%, 50%, 0.7);
}

.modal__submit-btn {
  width: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 32px;
  height: 52px;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0px;
  background: rgba(33, 33, 33, 1);
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(252, 245, 229, 1);
  transition: opacity 0.3s ease-in-out;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  opacity: 0.5;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__content {
    max-width: 100%;
    padding: 12px;
    transform: none;
  }

  .modal__image {
    max-width: 100%;
  }

  .modal__title {
    margin: 0 0 24px;
    font-size: 20px;
    line-height: 20px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    max-width: 40px;
    max-height: 40px;
    top: -41px;
    right: 0;
  }

  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    width: 100%;
  }
}
